<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="form-style-8">
    <h3>Add a New Recipe</h3>
    <form>
      <%= form.text_field :title, name: "field1", placeholder: "Recipe Name" %>
      <%= form.text_area :description, name: "field2", placeholder: "Recipe Description" %>
      <%= form.nested_fields_for :ingredients do |ingredient| %>
        <%= ingredient.text_field :content %>
        <%= ingredient.remove_nested_fields_link %>
      <% end %>
        <%= form.add_nested_fields_link :ingredients %>
        <%= form.nested_fields_for :steps do |step| %>
          <%= step.text_field :direction %>
          <%= step.remove_nested_fields_link %>
        <% end %>
          <%= form.add_nested_fields_link :steps %>
          <h4>Add Image</h4>
          <%= form.file_field :image %>
          <% if @recipe.image? %>
            <%= image_tag @recipe.image.url, class: "recipe-show" %>
            <%= form.check_box :remove_image %>
            Remove Image
          <% end %>
          <button type="button" class="add-button-form" style="border-bottom: 0px;"><%= link_to 'Create', form.submit %></button>
    </div>
  </div>
  </form>
<% end %>
