<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<p id="notice"><%= notice %></p>
<nav class="navbar navbar-dark bg-dark">
  <ul class="w3-ul">
      <a href="#>"<li class="w3-xxlarge"><i class="fa fa-home" style="color: white;"></i></a></li>
  </ul>
</nav>
<h1>Recipes</h1>

<div class="row" style="background-color: #D3D3D3;">
  <% @recipes.each do |recipe| %>
  <div class="col-md-4">
    <div class="recipe-box">
      <%= image_tag recipe.image.url, class: "recipe-index" if recipe.image? %>
        <br><ul style="width: 100%; height: 30%; background-color: #F5F5F5;">
          <li><%= recipe.title %></li>
          <li><%= recipe.description %></li>
          <li><%= link_to 'View', recipe %> |
          <%= link_to 'Edit', edit_recipe_path(recipe)%> |
          <%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
    </div>
  </div>
  <% end %>
</div><br>
<div class="container">
  <button class="add-button-index" type="button" name="add"><%= link_to 'Add', new_recipe_path %></a>
</div>
</button>
